<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.orderserver.mapper.BlogMapper" >

    <select id="selectObjects" resultType="com.blog.orderserver.pojo.BlogsExtends">
       	SELECT
		u.username,
		u.`name`,
		u.home_url,
		u.photo_url,
		b.blog_url,
		b.title,
		b.content,
		b.published_date,
		b.read_num,
		b.comment_num,
		bt.*
		FROM
		blogs b
		LEFT JOIN users u ON b.uid = u.uid
		LEFT JOIN blog_type bt ON bt.btid = b.btid
		WHERE b.bid>=(
		SELECT floor(RAND()*((
		SELECT MAX(bid) FROM blogs)-(
		SELECT MIN(bid) FROM blogs))+(
		SELECT MIN(bid) FROM blogs)))
		<if test="blogsVo!=null">
			<if test="blogsVo.alias!=null and blogsVo.alias!='' and blogsVo.alias!='index' and blogsVo.alias!='new'">
				and bt.alias=#{blogsVo.alias}
			</if>
		</if>
		ORDER BY
		<if test="blogsVo.alias!='new'">
			b.bid
		</if>
		<if test="blogsVo.alias!=null and blogsVo.alias!='' and blogsVo.alias=='new'">
			b.published_date desc
		</if>

		LIMIT 50;
    </select>
</mapper>